main {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.category-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14rem;
    position: relative;
}

.category {
    width: 100%;
    height: 100%;
    background-size: cover;
    border: 1px solid ghostwhite;
    box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
    transition: all .1s linear;
}

.category:hover {
    filter: blur(1px) opacity(0.95);
    transform: scale(1.002);
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2.5rem;
    background: white;
    color: black;
    mix-blend-mode: screen;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 80%;
    line-height: 2.2rem;
}
