footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    min-height: 5rem;
    color: white;
    background: var(--bg-color);
    /*text-align: center;*/
    align-items: center;
}

footer a {
    color: #f6be00;
    display: inline-block;
    transition: all 0.1s linear;
}

footer a:hover {
    color: #ffc501;
}

.footer-img-wrapper {
    height: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.footer-img {
    height: 100%;
}

@media all and (min-width: 576px) {
    footer {
        padding: 1rem 2rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .footer-img-wrapper {
        justify-content: flex-start;
    }
}
