@import "tailwindcss";

@tailwind utilities;

@theme {
    --font-sans: Mulish, sans-serif;
    --font-sans-alt: "Open Sans", sans-serif;
    --font-serif: Chonburi, serif;
}

@layer utilities {
    .ql-toolbar {
        @apply !border-transparent !p-0;
    }

    .ql-toolbar button:hover {
        @apply !text-black;
    }

    .ql-editor {
        @apply text-base !leading-[1.8] !p-0 !py-4;
    }

    .ql-container {
        @apply !border-transparent !p-0;
    }

    span[style*="background-color"] {
        @apply p-2 rounded-md font-mono;
    }
}
