@import "tailwindcss";

@tailwind utilities;

@theme {
    --font-sans: Mulish, sans-serif;
    --font-sans-alt: "Open Sans", sans-serif;
    --font-serif: Chonburi, serif;
}

@layer utilities {
    .ql-toolbar {
        @apply !border-transparent !p-0;
    }

    .ql-toolbar button,
    .ql-toolbar span.ql-color-picker {
        @apply !transition-colors !duration-100;
    }

    .ql-toolbar button:hover,
    .ql-toolbar span.ql-color-picker:hover {
        @apply !bg-gray-100 !rounded-md;
    }

    .ql-editor {
        @apply text-base !leading-[1.8] !p-0 !py-4;
    }

    .ql-container {
        @apply !border-transparent !p-0;
    }

    .ql-container h1,
    .ql-container h2,
    .ql-container h3 {
        @apply !my-4 font-sans;
    }

    .ql-container ul,
    .ql-container ol {
        @apply !p-0;
    }

    span[style*="background-color"] {
        @apply px-2 py-1 rounded-md font-mono;
    }

    select.ql-ui {
        @apply bg-black;
    }
}
